body {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-size: larger;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.container {
  font-family: 'poppins';
  background-color: aliceblue;
  
}

.small-header {
  padding: 0.5em; /* Reduzir ainda mais o padding */
  font-size: 0.8em; /* Reduzir o tamanho da fonte */
}

.shop-title {
  margin: 0;
}
.shop-nav{
  margin: 0 auto;
}

.shop-nav a {
  color: #007bff;
  text-decoration: none;
  padding: 8px;
  border-radius: 15px; /* Arredondar bordas */
}

.shop-nav a:hover {
  text-decoration: underline;
}

.shop-carousel {
  text-align: center;
  background-color: rgb(219, 238, 255);
  padding: 2em;
  margin-top: 7em; /* Espaço para o cabeçalho fixo */
  border-radius: 20px; /* Arredondar bordas */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 15%;
  margin-right: 15%;
}

.shop-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  margin-top: 2em; /* Espaço para o cabeçalho fixo */
}

.product-card {
  border: 1px solid #ddd;
  margin: 0;
  padding: 1em;
  width: auto; /* Ajustar largura dos cards */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Arredondar bordas */
  height: auto; /* Deixe a altura automática para ajustar ao conteúdo */
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
    cursor: pointer;
}

.product-card:hover {
  transform: scale(1.05);
}

.imagemproduto1 {
  width: 100%;
  height: 300px; /* Aumentar altura das imagens */
  object-fit: cover; /* Garantir que a imagem cubra o espaço disponível */
  border-radius: 15px; /* Arredondar bordas */
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title,
.product-price {
  margin: 0.5em 0;
}

.product-description {
  color: #666;
  font-size: 0.9em;
}

.shop-footer {
  text-align: center;
  padding: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(219, 238, 255);
  border-radius: 20px; /* Arredondar bordas */
}

/* Dispositivos medios, IPHONE 15/ ipad mini */

@media (min-width: 430px) and (max-width: 1024px) {
  .shop-main-content {
    flex-direction: column;
  }
  .product-card {
    width: auto;
  }
}

/* Dispositivos muito pequenos, IPHONES SE/ XR  */

@media (max-width: 429px) {
  .shop-main-content {
    flex-direction: column;
  }

  .product-card {
    width: auto;
  }
}